/*part of common*/
html,body,div,h1,h2,h3,h4,ul,p,img{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;

}
a{
    text-decoration: none;
    color: #666666;
    /*opacity: 0.8;*/
}

body{
    min-width: 1200px;
    font: 14px/150% Arial, Verdana, "宋体";
}

.top{
    height:50px ;
    background-color: #F2F2F2;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 101;

}
.top_nav{
    /*float: left;
    line-height: 50px;
    margin-left: 40px;
   font-size: 14px;*/
    width: 1200px;
    margin: auto;


}

.login{
    padding-right: 15px;
    padding-left: 15px;
}
.login a{
    color: #01BC38;
}
.register{
    padding-right: 15px;
}
.register a{
    color: #01BC38;
}

.fl{
    float: left;
}

.fl li{
    float: left;
    position: relative;
    line-height: 50px;
    color: #666666;
    opacity: 0.8;
}
.cityDiv{
    margin-left: 25px;
}
.fr{
    float: right;
}

.fr li{
    float: left;
    position: relative;
    line-height: 50px;
    padding: 0 10px;
}
.account_menu{
    padding: 0 10px 0 10px;
    width: 60px;
    cursor: default;
    line-height: 50px;
}
.navDown{
    margin-left: 5px;
    line-height: 22px;
    left: 0;
    width: 78px;
    -moz-box-shadow: 0 0 5px #dadada;
    -webkit-box-shadow: 0 0 5px #dadada;
    box-shadow: 0 0 5px #dadada;
    top:40px;

    display: none;
    border: 1px solid #F2F2F2;

    background-color: #ffffff;
    position: absolute;
}

.navDown div:hover{
    background-color: #01BC39;
    color: #ffffff;
}
.navDown div>a:hover{
    color: #ffffff;
}
.fr p{
    position: absolute;
    right: 2px;
    top: 18px;
    background: url("../image/arrow.png") no-repeat  ;
    transition: transform .2s ease-in 0s;
    -webkit-transition: -webkit-transform .2sease-in 0s;
    overflow: hidden;
    height: 9px;
    width: 9px;
    vertical-align: middle;
}

.hover{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    /*background:url(../image/arrow.png) no-repeat -169px -2px;*/
}

#maskLayer{
    display:none;
    position:absolute;
    width:600px;
    height:300px;
    z-index:2001;
    background-color:#fff
}

#drag_h{
    height:50px;
    line-height:50px;
    background-color:#fff;
    border-bottom:2px dotted #808080;
    padding-left:30px;
}
#drag_h b{
    float:left;

}
#drag_h span{

    float:right;
    cursor:pointer;
    height:20px;
    width:20px;
    border-radius:10px;
    background-color:#808080;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    margin-right: 10px;
}
#drag_con,#city2{
    padding:10px 4px;
    padding-left:30px;
}
#drag_con{
    border-bottom: 2px dotted #808080;
}
.mask {
    background-color: #666666;
    position: absolute;
    z-index: 800;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
}

.distSelect,.distSelect div,.distSelect ul{
    padding:10px 4px;
    padding-left:30px
}
.distSelect div{
    font-size: 14px;
    font-weight: bold;
}
.distSelect li{
    float: left;
    padding-right: 20px;
}
.selectCity{
    cursor: pointer;
}

.header{
    height: 104px;
    width: 1200px;
    margin: 0 auto;

}
.header_inner{
    width: 1200px;
    margin: auto;
    position: relative;
    z-index: 31;
}
.header_inner .logo{
    width: 200px;
    height: 104px;
    float: left;
    position: relative;
    display: flex;
    align-items: center;
}
.header_inner .logo img{
    width: 200px;
    height: 66px;
    vertical-align: middle;

}
.index_promo{
    display: none;
    position: absolute;
    width: 140px;
    height: 75px;
    left: 260px;
    top: 15px;
    overflow: hidden;
}
.header_inner .search{
    position: absolute;
    width: 514px;
    margin: 0;
    padding: 0;
    right: 248px;
    top: 28px;
}

.header_inner .search input.text{
    width: 425px;
    height: 34px;
    line-height: 34px ;
    padding: 0 0 0 4px;
    vertical-align: middle;
    float: left;
    border: 2px solid #00A934;
    outline: none;
}

.header_inner .search input.submit{
    margin: 0;
    height: 38px;
    width: 80px;
    cursor: pointer;
    float: left;
    vertical-align: middle;
    border: 1px solid #00A934;
    border-left: 0;
    outline: none;
    background-color: #00A934;
    color: #ffffff;
    font-weight: bold;

}
.search_hot{
    clear: both;
    text-align: left;
    padding: 4px 0 0 0;
    color: #666666;
    opacity: 0.8;;

}
.search_hot a{
    text-decoration: none;
    margin: 0 8px 0 0;
}

.shopingcar{
    width: 146px;
    padding-left: 48px;
    position: absolute;
    top: 30px;
    right: 0px;
    height: 33px;
    border: 1px solid  #00A934;
    line-height: 33px;
    font-size: 12px;

}
.shopingcar .cart{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 145px;
}
.shopingcar a{
    font-weight: bold;
    color: #666666;
    font-size: 14px;
}
.shopingcar b.carnum{
    position: absolute;
    top: -1px;
    left: 154px;
    width: 40px;
    height: 34px;
    text-align: center;
    background-color: #00A934;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.shopingcar:hover{
    border-bottom: 1px solid #ffffff;
}
.shop_car{
    display: none;
    width: 360px;
    right: -1px;
    _right: -2px;
    -moz-box-shadow: 0 0 5px #efefef;
    -webkit-box-shadow: 0 0 5px #efefef;
    box-shadow: 0 0 5px #dadada;
    top: 33px;
    position: absolute;
    border: 1px solid  #00A934;
    background-color: #ffffff;
    z-index: -1;
}

.float_car{
    padding: 10px;
    width: 430px;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
}

.float_car .nopro{
    width: 240px;
    height: 42px;
    margin: 0 0 0 85px;
}
.mainNav{
    width: 100%;
    height: 32px;
    border-bottom: 1px solid #00A933;
}
.navmenu{
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    clear: both;
}
.navmenu .categories{
    float: left;
    width: 200px;
    background-color: #00A933;
    height: 32px;
    text-align: center;
    position: relative;
    z-index: 100;
}
.navmenu .categories .dt{
    height: 34px;
    overflow: hidden;
}
.navmenu .categories a.topall{
    height: 32px;
    line-height: 32px;
    color: #fff;
    font-weight: bold;
    width: 200px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    padding: 0;
}






.menu1{
    width: 1000px;
    float: right;
    position: relative;
    z-index: 30;
}
.menu1 ul{
    width: 1000px;
    overflow: hidden;
    height: 32px;
    line-height: 32px;
    list-style: none;

}

.menu1 li{
    float: left;
    text-align: center;
    color: black;
    display: list-item;
    margin-left: 20px;
    width: 100px;
    position: relative;
}
.menu1 li p{
    position: absolute;
    right: 30px;
    top: 0;
    background: url("../image/new3.png") no-repeat;
    overflow: hidden;
    height: 12px;
    width: 21px;

    z-index: 999;
}


.page{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    margin-top: 15px;
}
.page div{
    height: 60px;
    text-align: right;
    display: flex;
    align-items: center;
    float: right;
}
.page div a{
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    min-width: 30px;
    border: 1px solid #BDBEBD;
    /*padding-right: 5px;*/
    text-align: center;
    line-height: 30px;
    /*margin-right: 5px;*/
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

.page div .pre{
    margin-right: 5px;
}
.page div .next{
    margin-left: 5px;
}
.page div span{
    margin-right: 5px;
    font-size: 16px;
    color: #948787;
}
.page div select{
    outline: none;
    height: 25px;
    width: 40px;
    margin-right: 5px;
}
.page div .click{
    background-color: #EDEDED;
}
.page div input{
    margin: 0;
    padding: 0;
    outline: none;
    height: 25px;
    width: 50px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #BDBEBD;
}
.page div input:hover{
    border-color: #01BC39;
}
.page div a:hover{
    border-color: #01BC39;
}
.page div .current{
    border-color: #01BC39;
    background-color:#01BC39;
    color: #ffffff;
}
/*part of common  footer*/
.footer{
    width: 100%;
    line-height: 18px;
    overflow: hidden;
    color: #000;
    margin-top: 20px;
}

.footer .footer_banner{
    height: 80px;
    width: 100%;
    margin-top: 10px;
}

.footer .footer_banner ul{
    width: 1200px;
    margin: 0 auto;
}

.footer .footer_banner ul li{
    float: left;
    /*font-weight: bold;*/
    font-size: 20px;
    height: 80px;
    width: 300px;
    text-align: center;
    line-height: 80px;
    background-color: #F0F0F0;
    color: #555555;
    opacity: 0.8;
}

.footer .foot{
    width: 100%;
    height: 136px;
}
.footer .foot .connectUs{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;

}
.footer .foot .connectUs ul{
    width:300px ;
    margin: 0 auto;
    line-height: 50px;
}

.footer .foot .connectUs ul li{
    float: left;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding-left: 20px;



}
.footer .foot .connectUs ul li a{
    color: #333333;
}
.footer .foot_img{
    width: 1200px;
    height: 56px;
    margin: 0 auto;
    margin-bottom: 20px;

}
.footer .foot_img img{
    width: 919px;
    height: 56px;
    margin-left: 140px;
    position: absolute;
}
